/CurrentCommit.txt
/.vs/BetterExceptionWindow
/obj/Debug
/packages
/supporting modules/BetterExceptionWindowUI/bin/Debug
/supporting modules/BetterExceptionWindowUI/obj/Debug/TempPE
/supporting modules/BetterExceptionWindowUI/obj/Debug
/supporting modules/BetterExceptionWindowUnsafeExceptionTester/BewNativeCodeCrashTest/x64/Debug
/supporting modules/BetterExceptionWindowUnsafeExceptionTester/BewUnsafeExceptionTester/obj/Debug
/x64/Debug
/TaleWorlds.MountAndBlade.SteamWorkshop.exe - Shortcut.lnk
/fuck bannerlord.txt
/steam_workshop_uploader.txt
/update mod.txt
/steam_appid.txt
